<!DOCTYPE html>
<html lang="en">
<head>
 <%-include("./partials/head")  %>
</head>
<body>
 <%-include("./partials/nav")  %>  
 <!-- <%= JSON.stringify(user) %>   -->
<table class="table table-dark table-striped">
  ...
</table>

</body>
 <%-include("./partials/scripts")  %>

</html>